.flex-row {
      display: flex;
      flex-wrap: wrap;
}

.flex-column {
      display: flex;
      flex-direction: column;
}

.padding {
      padding: 20px;
}

.mgl05rem {
      margin-left: 0.5rem;
}

.mg05rem {
      margin: 0.5rem;
}

.oneRemMargin {
      margin: 1rem;
}

.space-around {
      justify-content: space-around;
}